*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1D3557;
}

.box{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}

.login{
    margin-top: 30vh;
}

#loginValidationMessage{
    font-size: small;
    margin: 1px;
    color: #dc3545;
    
}

#toggle-pwd{
    font-size: small;
    margin-top: 10px;
}

.tasks{
    margin-top: 15vh;
    height: 80vh;
    /* display: none; */
}
.pending-tasks{

}

.completed-tasks{

}