*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1D3557;
}

.box{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.login{
    max-width: 400px;
    margin: 30vh auto;
}

#loginValidationMessage{
    font-size: small;
    margin: 1px;
    color: #dc3545;
    
}

#toggle-pwd{
    font-size: small;
    margin-top: 10px;
}

.tasks{
    margin-top: 15vh;
    height: 80vh;
}
.pending-tasks{
    width: 60vw;
    height: 60vh;
}

.completed-tasks{
    width: 20vw;
    height: 60vh;
}

@media (max-width: 992px){
    .completed-tasks{
        width: 60vw;
    }
}